<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piwo</title>
</head>
<body>
    <form action="recommendedBeers" method="get">
        Kolor piwa:
        <select name="beerColor">
            <option value="straw">Słomkowy</option>
            <option value="yellow">Żółty</option>
            <option value="darkGold">Ciemnozłoty</option>
            <option value="lightBrown">Jasnobrązowy</option>
            <option value="brown">Brazowy</option>
            <option value="darkBrown">Ciemnobrązowy</option>
        </select><br />
        Ile masz lat: <input type="number" name="age" /><br />
        <button type="submit">Wyślij</button>
    </form>
</body>
</html>